{% extends 'base.html' %}
{% block title %}Password Reset Complete{% endblock title %}
{% block content %}
<div class="col-lg-5 position-absolute top-50 start-50 translate-middle">
<div class="card bg-primary text-white text-center p-3">    
<h1>Password reset complete</h1>
<p>Your new password has been set. You can log in now on the
<a href="{% url 'login' %}" class="btn-light rounded w-25 mb-1 position-absolute bottom-0 start-50 translate-middle-x">log in page</a>.</p>
</div></div>
{% endblock content %}