{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}

{% block content %}
<div class="row mb-3">
    <div class="col-md-3 mr-3 ">
            <div class="card shadow-sm ">
                
                <img src="https://drive.google.com/uc?export=view&id=1TYWIrw4ChRMAWYaOvig9dIYphX8vxfD_" class="rounded" style="hiegth:50px"/>
            </div>
            <br><br>
            <div class="text-dark">
                <p><b>Harsh kumar</b> is enthuastic budding engineer who likes to code. Anyway feel free to check his portfolio.</p> 
                <button class="btn btn-info w-25"><a href="https://helloworld-byhk.herokuapp.com" style="text-decoration:none; color:white">visit</a></button>
            </div>
            </div>
                </div>                        
{% endblock content %}