{%extends 'base.html'%}
{% block title %}
Contact
{% endblock title %}
{% block content %}





<div class="container row mb-3 position-relative" style="min-height:500px; background-image:linear-gradient(135deg, black, grey)">
  <div class="col-md-8">
      <div class="col-lg-5 position-absolute top-50 translate-middle-y">
      <div class="card bg-primary text-white text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>Hi ! this is Harsh Kumar, Owner of this blog. If you want a similar blog site or have any other ideas about developing any website. Feel free to contact me via any of the following medium.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-white">
            Harsh kumar from <cite title="Source Title">Site Admin</cite>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
    <div class="col-md-4">
      <div class="position-absolute top-50 translate-middle-y">
        <div class="p-5 mb-3 text-light rounded" style="background-image:linear-gradient(45deg, brown, lightblue)">
          <a style="text-decoration:none;color:white;" href="tel:+917763967708"><img src="https://img.icons8.com/ios-filled/50/000000/apple-phone.png" height=50px width=50px/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </a><hr>
          <a style="text-decoration:none;color:white;" href="mailto:harsh.kumar.25@outlook.com"><img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/000000/external-email-advertising-kiranshastry-solid-kiranshastry-1.png" height=50px width=50px/></a> 
          <hr><a style="text-decoration:none;color:white;" href="https://wa.me/+917763967708"><img src="https://img.icons8.com/ios-filled/50/000000/whatsapp.png" height=50px width=50px/></a>
        <hr><a style="text-decoration:none;color:white;" href="https://t.me/hk_unknown"><img src="https://img.icons8.com/ios-filled/50/000000/telegram-app.png" height=50px width=50px/></a>
      </div>
  </div>
  </div>
  </div>
  










{% comment %} <div class="container row mb-3" style="min-height:500px; background-image:linear-gradient(135deg, black, grey)">
<h2 style="color:white; font-family:castellar; " align='center'>Contact</h2>
<div class="col-sm-8">
<div class="col-lg-5 position-absolute top-50 start-50 translate-middle mt-5">
  <div class="card bg-primary text-white text-center p-3">
    <figure class="mb-0">
      <blockquote class="blockquote">
        <p>Hi ! this is Harsh Kumar. If you want a similar blog site or have any other ideas about developing any website. Feel free to contact me via any of the following medium.</p>
      </blockquote>
      <figcaption class="blockquote-footer mb-0 text-white">
        Harsh kumar from <cite title="Source Title">Site Admin</cite>
      </figcaption>
    </figure>
  </div>
</div>
</div>

<div class="col-md-4">
  <div class="position-absolute top-50 translate-middle-y">
    <div class="p-5 mb-3 text-light rounded" style="background-image:linear-gradient(45deg, black, grey)">
      <a style="text-decoration:none;color:white;" href="tel:+917763967708"><img src="https://img.icons8.com/ios-filled/50/000000/apple-phone.png" height=50px width=50px/>:7763967708</a></br>
      <a style="text-decoration:none;color:white;" href="mailto:harsh.kumar.25@outlook.com"><img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/000000/external-email-advertising-kiranshastry-solid-kiranshastry-1.png" height=50px width=50px/>:harsh.kumar.25@outlook.com</a> 
      <br><a style="text-decoration:none;color:white;" href="https://wa.me/+917763967708"><img src="https://img.icons8.com/ios-filled/50/000000/whatsapp.png" height=50px width=50px/>:7763967708</a>
    </br><a style="text-decoration:none;color:white;" href="https://t.me/hk_unknown"><img src="https://img.icons8.com/ios-filled/50/000000/telegram-app.png" height=50px width=50px/>:@hk_unknown</a>
    </div>
</div>
</div>

</div> {% endcomment %}

{% endblock content %}

